footer {
    background-color: darkgray;
}

footer {
    font-size: small;
}

footer > div {
    padding: 10px;
    width: 30%;
    display: inline-block;
}

#location_map {
    height:150px;
    width: 150px;
}

