header {
    height: 120px;
    width: 100%;
    background-color: white;
    padding:  10px 50px 10px 50px;
    border-bottom: solid darkgray;
    box-sizing: border-box;
}

.title {
    color: darkblue;
    display: inline-block;
}

.logo {
    float:right;
}

.menuitem {
    margin: 10px;
}